{% extends 'main.html' %}
{% load static %}

{% block title %}Event - {{ event.title }}{% endblock %}



{% block content %}

<div class="ms-4 mt-4">
    <a href="/"><button class="btn btn-outline-secondary"><i class="fa-solid fa-arrow-left-long"></i> Go Back</button></a>
</div>

<div class="container">
    <div class="card my-3">
        <div class="card-body">
            <h3 class="card-title text-center">{{ event.title }}</h3>
            <hr>
            {% if event.image %}
            <img src="{{ event.image.url }}" alt="Event Image" class="card-image">
            <hr>
            {% endif %}
            <div class="event-info">
                <p><i class="fa-solid fa-location-dot mt-3"></i><a href="/location/{{ event.location.id }}" class="event-location-redirect ms-2">{{ event.location }}</a></p>
                <p><i class="fa-regular fa-calendar-days"></i> {{ event.date }}</p>
                <p><i class="fa-solid fa-circle-exclamation"></i> {{ event.age_restriction }}</p>
                <p><i class="fa-solid fa-people-roof"></i> {{ event.event_type }}</p>
                <p><i class="fa-solid fa-money-bill-wave"></i> ${{ event.entry_fee }}</p>
                <p><i class="fa-solid fa-user-group"></i> {{ event.maximum_participants }}</p>
                {% if event.description %}
                <div class="event-description">
                    <p>{{ event.description }}</p>
                </div>
                {% endif %}
            {% if request.user.is_superuser %}
            <div class="event-creator-info">
                <p><i class="fa-solid fa-user-tie"></i> {{ event.creator }}</p>
            </div>
            {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}